<template>
  <b-container class="py-4">
    <b-row>
      <b-col>
        <h2>{{ spotList.name }}</h2>        
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <p>{{ spotList.description }}</p>
      </b-col>
    </b-row>
    <b-row>
      <b-col class="text-right">
        <b-button variant="accent" @click="onClickAddSpotButton">
          <i class="fas fa-plus mr-2" />
          <span>追加</span>
        </b-button>
      </b-col>
    </b-row>
    <b-row>
      <b-col class="my-2" v-for="(spot, index) in spotList.spots" :key="index" :cols="12">
        <b-card header-bg-variant="gray5">
          <h4 slot="header">{{ spot.name }}</h4>
          <p>{{ spot.description }}</p>
          <b-button class="mr-2" variant="gray3" @click="onClickEditSpotButton(spot)" :cols="2">
            <i class="fas fa-cog" />
          </b-button>
          <b-button variant="gray3" @click="onClickDeleteSpotButton(spot)">
            <i class="fas fa-trash-alt" />
          </b-button>
        </b-card>
      </b-col>
    </b-row>
    <b-row class="mt-3">
      <b-col class="mt-3 text-center">
        <b-button variant="gray3" :to="`/user/${userId}`">マイページへ戻る</b-button>
      </b-col>
    </b-row>

    <spot-upsert-modal title="お店追加"
                       :value="getInitialValue()"
                       description="お店の名前・説明を入れてね"
                       okBtnName="追加"
                       :visible.sync="registerModalIsVisible"
                       @ok="onRegisterSpot"
                       @cancel="onCloseAddSpotModal" />
    <spot-upsert-modal title="お店更新"
                       :value="editTargetSpot"
                       description="お店の名前・説明を入れてね"
                       okBtnName="更新"
                       :visible.sync="editModalIsVisible"
                       @ok="onEditSpot"
                       @cancel="onCloseEditSpotModal" />
    <comfirm-delete-modal title="ガチャ削除"
                          :description="deleteModalMessage"
                          :visible.sync="deleteModalIsVisible"
                          @ok="onDeleteSpot"
                          @cancel="onCloseDeleteModal" />
    </b-container>
</template>

<script>
import spotUpsertModal from '~/components/spotUpsertModal.vue'
import comfirmDeleteModal from '~/components/comfirmDeleteModal.vue'

export default {
  components: {
    spotUpsertModal,
    comfirmDeleteModal
  },
  async fetch ({ store, params, redirect }) {
    await store.dispatch('spot-list/fetchSpotListById', params.listId)
    let userId = store.getters['auth/user'].userId
    let spotList = store.getters['spot-list/spotList']
    if (!spotList || spotList.ownerId !== userId) redirect(`/user/${userId}`)
  },
  data () {
    return {
      uid: null,
      editTargetSpot: null,
      deleteTargetSpot: null,
      registerModalIsVisible: false,
      editModalIsVisible: false,
      deleteModalIsVisible: false,
      deleteModalMessage: ''
    }
  },
  computed: {
    userId () { return this.$store.getters['auth/user'].userId },
    spotList () { return this.$store.getters['spot-list/spotList'] }
  },
  methods: {
    getInitialValue () {
      return {
        name: '',
        address: '',
        priceRange: '',
        numberOfPeople: '',
        description: '',
        ownerId: this.$store.getters['auth/user'].userId
      }
    },
    onClickAddSpotButton () {
      this.registerModalIsVisible = true
    },
    onClickEditSpotButton (spot) {
      this.editTargetSpot = {}
      Object.keys(spot).forEach(key => this.editTargetSpot[key] = spot[key])
      this.editModalIsVisible = true      
    },
    onClickDeleteSpotButton (spot) {
      this.deleteModalMessage = `お店「${spot.name}」を本当に削除しますか？`
      this.deleteModalIsVisible = true
    },
    async onRegisterSpot (spot) {
      await this.$store.dispatch('spot-list/registerSpot', spot)
      this.onCloseAddSpotModal()
    },
    async onEditSpot (spot) {
      await this.$store.dispatch('spot-list/updateSpot', spot)
      this.onCloseEditSpotModal()
    },
    async onDeleteSpot () {
      await this.$store.dispatch('spot-list/deleteSpot', spot)
      this.onCloseDeleteModal()
    },
    onCloseAddSpotModal () {
      this.registerModalIsVisible = false
    },
    onCloseEditSpotModal () {
      this.editModalIsVisible = false
    },
    onCloseDeleteModal () {
      this.deleteModalIsVisible = false
      this.deleteModalMessage = ''
    }
  }
}
</script>

