<template>
  <b-container class="py-4">
    <b-row>
      <b-col>
        <h2>{{ spotList.name }}</h2>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <p>{{ spotList.description }}</p>
      </b-col>
    </b-row>
    <b-row class="pt-4 pb-5">
      <b-col class="text-center">
        <b-button variant="accent" size="lg" @click="onClickGoLunch">ガチャを回す！</b-button>
      </b-col>
    </b-row>
    <b-row class="my-2">
      <b-col>
        <h3>お店一覧</h3>
      </b-col>
      <b-col v-if="isOwnedSpotList" cols="4" class="text-right">
        <b-button variant="gray3" :to="`/list/${spotList.id}/edit`">編集</b-button>
      </b-col>
    </b-row>
    <b-row>
      <b-col class="my-2" v-for="(spot, index) in spotList.spots" :key="index" :cols="12">
        <b-card>
          <b-container fluid>
            <b-row>
              <b-col>
                <h4>{{ spot.name }}</h4>
                <p class="card-text">{{ spot.description }}</p>
              </b-col>
            </b-row>
          </b-container>
        </b-card>
      </b-col>
    </b-row>
    <b-row>
      <b-col class="mt-3 text-center">
        <b-button variant="gray3" :to="`/user/${userId}`">マイページへ戻る</b-button>
      </b-col>
    </b-row>

    <lunch-decide-modal :visible.sync="showLunchDecideModal" :spots="spotList.spots" />
  </b-container>
</template>

<script>
import firebase from 'firebase/app'
import lunchDecideModal from '../../../components/lunchDecideModal.vue'

export default {
  components: {
    lunchDecideModal
  },
  data () {
    return {
      showLunchDecideModal: false
    }
  },
  async fetch ({ store, params }) {
    await store.dispatch('spot-list/fetchSpotListById', params.listId)
  },
  computed: {
    userId () { return this.$store.getters['auth/user'].userId },
    spotList () { return this.$store.getters['spot-list/spotList'] },
    isOwnedSpotList () { return this.spotList.ownerId === this.userId }
  },
  methods: {
    onClickGoLunch () {
      this.showLunchDecideModal = true
    }
  }
}
</script>

