@import './variables.scss';
@import '~bootstrap/scss/bootstrap';

body {
  background-color: $base;
  color: $gray1;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.1rem;
}

p {
  font-size: 1rem;
}

// .bg-main {
//   color: $sub;
// }

// .bg-sub {
//   color: $base;
// }

// .bg-base {
//   color: white;
// }

.btn-outline-accent:not(:disabled):not(.disabled).active {
  background-color: transparent;
  color: $accent;
}

.btn-outline-main:not(:disabled):not(.disabled).active {
  background-color: transparent;
  color: $main;
}

.btn-outline-main2:not(:disabled):not(.disabled).active {
  background-color: transparent;
  color: $main2;
}

.btn-outline-main3:not(:disabled):not(.disabled).active {
  background-color: transparent;
  color: $main3;
}

.btn-outline-base:not(:disabled):not(.disabled).active {
  background-color: transparent;
  color: $base;
}
