$main:#FFBC6B;
$main2: #FFCD90;
$main3:#FFF3E0;
$base:#FFFFFF;
$accent:#B1F064;
$accentsub:#DCFBB7;
$gray1: #333333;
$gray2: #666666;
$gray3: #888888;
$gray4: #dddddd;
$gray5: #f0f0f0;

$theme-colors: () !default;
$theme-colors: map-merge((
  "main": $main,           // サイトのテーマカラー1
  "main2": $main2,         // サイトのテーマカラー2
  "main3": $main3,         // サイトのテーマカラー3
  "base": $base,           // 何もないところの色
  "accent": $accent,       // 差し色1
  "accentsub": $accentsub, // 差し色2
  "gray1": $gray1,
  "gray2": $gray2,
  "gray3": $gray3,
  "gray4": $gray4,
  "gray5": $gray5
), $theme-colors);
