<template>
  <b-modal :title="title"
           :visible="visible"
           @change="onModalStateChanged"
           header-bg-variant="main"
           size="lg"
           centered
           lazy>
    <p>{{ description }}</p>
    <template slot="modal-footer">
      <b-button variant="accent" @click="onOK">削除</b-button>
      <b-button variant="gray3" @click="onCancel">キャンセル</b-button>
    </template>
  </b-modal>
</template>

<script>
export default {
  props: [
    'title',
    'description',
    'visible'
  ],
  methods: {
    onOK () {
      this.$emit('ok', this.spotListInput)
    },
    onCancel () {
      this.$emit('cancel')
    },
    onModalStateChanged (val) {
      this.$emit('update:visible', val)
    }
  }
}
</script>
