<template>
  <b-modal title="タップしてストップ！"
           :visible="visible"
           @change="onModalStateChanged"
           header-bg-variant="main"
           hide-footer
           centered
           lazy>
    <template>
      <b-container>
        <b-row>
          <b-col>
            <a @click="stopAnimation">
              <template v-if="currentSpot !== null">
                <h3>{{ currentSpot.name }}</h3>
                <p>{{ currentSpot.description }}</p>
              </template>
            </a>
          </b-col>
        </b-row>
      </b-container>
    </template>
  </b-modal>
</template>

<script>
export default {
  props: [
    'visible',
    'spots'
  ],
  data () {
    return {
      animating: false,
      currentSpot: null
    }
  },
  methods: {
    onModalStateChanged (val) {
      if (val === true) {
        this.animating = true
        this.animate()
      }
      this.$emit('update:visible', val)
    },
    stopAnimation () {
      this.animating = false
    },
    animate () {
      this.currentSpot = this.spots[Math.floor(Math.random() * this.spots.length)]
      if (this.animating) {
        setTimeout(this.animate, 20)
      }
    }
  }
}
</script>
