<template>
  <b-navbar variant="main" toggleable="md" type="dark">
    <b-navbar-brand to="/">ランチガチャ(α)</b-navbar-brand>
    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

    <template v-if="isAuthenticated">
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav class="ml-auto">
          <b-nav-item :to="`/user/${user.userId}`">マイページ</b-nav-item>
          <b-nav-item @click="logout">ログアウト</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </template>
    <template v-else>
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav class="ml-auto">
          <b-nav-form>
            <b-button variant="accent" @click="login">Twitterで登録/ログイン</b-button>
          </b-nav-form>
        </b-navbar-nav>
      </b-collapse>
    </template>
  </b-navbar>
</template>

<script>
export default {
  props: [
    'isAuthenticated',
    'user'
  ],
  methods: {
    login () {
      this.$emit('login')
    },
    logout () {
      this.$emit('logout')
    }
  }
}
</script>

<style scoped>
.nav-link {
  color: white !important;
}
</style>

