<template>
  <b-modal :visible="visible"
           @change="onModalStateChanged"
           header-bg-variant="main"
           size="lg"
           centered
           lazy>
    <template>
      <h1>{{ title }}</h1>
      <p v-if="description">{{ description }}</p>
      <b-form-group label="名前">
        <b-form-input id="name" type="text" v-model="spotInput.name" />
      </b-form-group>
      <b-form-group label="説明">
        <b-form-input id="description" type="text" v-model="spotInput.description" />
      </b-form-group>
    </template>
    <template slot="modal-footer">
      <b-button variant="accent" @click="onOK" :disabled="!spotIsValid">{{ okBtnName }}</b-button>
      <b-button variant="gray3" @click="onCancel">キャンセル</b-button>
    </template>
  </b-modal>
</template>

<script>
export default {
  props: [
    'title',
    'value',
    'description',
    'okBtnName',
    'visible'
  ],  
  data () {
    return {
      spotInput: {
        name: '',
        description: '',
        ownerId: this.$store.getters['auth/user'].userId
      },
      message:''
    }
  },
  computed: {
    spotIsValid () { return true } // TODO
  },
  methods: {
    onOK () {
      this.$emit('ok', this.spotInput)
    },
    onCancel () {
      this.$emit('cancel')
    },
    onModalStateChanged (val) {
      if (val === true) {
        // モーダルオープン時に入力項目を親からもらっているvalueに書き換え
        this.spotInput = this.value
      }
      this.$emit('update:visible', val)
    }
  }
}
</script>

