<template>
  <article class="py-4">
    <b-container>
      <b-row>
        <b-col>
          <h2>マイガチャリスト</h2>
          <p>
            マイページでは自分のガチャを作って管理します。
          </p>
        </b-col>
      </b-row>      
      <b-row>
        <b-col class="text-right">
          <b-button variant="accent" @click="onClickAddSpotListButton">
            <i class="fas fa-plus mr-2" />
            <span>追加</span>
          </b-button>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="my-2" v-for="spotList in spotLists" :key="spotList.id" :cols="12">
          <b-card header-bg-variant="gray5">
            <h4 slot="header">{{ spotList.name }}</h4>
            <p>{{ spotList.description }}</p>
            <p v-if="spotList.spots.length === 0" class="warning">
              <i class="fas fa-info-circle" />
              <span>ガチャを回すには歯車のボタンから最低1つ以上のお店を登録してね</span>
            </p>
            <b-button variant="accent" :to="`/list/${spotList.id}`" :disabled="spotList.spots.length === 0">ガチャを回す</b-button>
            <b-button class="mx-2" variant="gray3" :to="`/list/${spotList.id}/edit`">
              <i class="fas fa-cog" />
            </b-button>
            <b-button variant="gray3">
              <i class="fas fa-trash-alt" @click="onClickDeleteSpotList(spotList)" />
            </b-button>
          </b-card>
        </b-col>
      </b-row>
    </b-container>

    <spot-list-upsert-modal description="お店リストの名前・説明を入れてね"
                            okBtnName="登録"
                            :visible.sync="spotListRegisterModalIsVisible"
                            @ok="onRegisterSpotList"
                            @cancel="closeModal" />
    <comfirm-delete-modal title="ガチャ削除"
                          :description="deleteModalMessage"
                          :visible.sync="spotListDeleteModalIsVisible"
                          @ok="onDeleteSpotList"
                          @cancel="closeDeleteModal" />
  </article>
</template>

<script>
import { firebase } from '~/plugins/firebase'
import spotListUpsertModal from '~/components/spotListUpsertModal.vue'
import comfirmDeleteModal from '~/components/comfirmDeleteModal.vue'

export default {
  components: {
    spotListUpsertModal,
    comfirmDeleteModal
  },
  async fetch ({ store, params }) {
    await store.dispatch('spot-list/fetchUserDefinedSpotList', params.uid)
  },
  data () {
    return {
      spotListRegisterModalIsVisible: false,
      selectedSpotList: null,
      spotListDeleteModalIsVisible: false,
      deleteTargetSpotList: null,
      deleteModalMessage: ''
    }
  },
  computed: {
    user () { return this.$store.getters['auth/user'] },
    spotLists () { return this.$store.getters['spot-list/spotLists'] },
    spotListNameIsValid () {
      if (this.spotListInput.name) return true
      else return false
    },
    spotListNameFeedback () {
      if (this.spotListInput.name) return '名前は必須です'
      else return null
    },
    spotListOptions () {
      let options = this.spotLists.map(spotList => { 
        return { value: spotList.id, text: spotList.name }
      })
      return [
        { value: null, text: 'お店リストを選択してください' },
        ...options
      ]
    }
  },
  methods: {
    onClickAddSpotListButton () {
      this.spotListRegisterModalIsVisible = true
    },
    onClickDeleteSpotList (spotList) {
      this.deleteTargetSpotList = spotList
      this.deleteModalMessage = `ガチャ「${this.deleteTargetSpotList.name}」を本当に削除しますか？`
      this.spotListDeleteModalIsVisible = true
    },
    async onRegisterSpotList (spotListInput) {
      spotListInput.ownerId = this.user.userId
      spotListInput.spots = []
      let id = await this.$store.dispatch('spot-list/registerSpotList', spotListInput)
      this.closeModal()
      this.$router.push(`/list/${id}/edit`)
    },
    async onDeleteSpotList () {
      await this.$store.dispatch('spot-list/deleteSpotList', this.deleteTargetSpotList)
      this.closeDeleteModal()
    },
    closeModal () {
      this.spotListRegisterModalIsVisible = false
    },
    closeDeleteModal () {
      this.spotListDeleteModalIsVisible = false
      this.deleteTargetSpotList = null
      this.deleteModalMessage = ''
    }
  }
}
</script>

<style scoped>
.warning {
  color: #DE424A;
  font-size: 0.75rem;
}
</style>
