<template>
  <div class="container">
    <h1>エラー</h1>
    <p>大変申し訳ありません。絶賛開発中につき動作が不安定な場合があります。</p>
    <nuxt-link to="/">ホームへ</nuxt-link>
  </div>
</template>

<script>
export default {
  props: [ 'error' ],
  layout: 'custom'
}
</script>