<template>
  <div>
    <b-jumbotron >
      <template slot="header">
        <h1>ランチガチャ</h1>
      </template>
      <template slot="lead">
        <p>毎日のランチをガチャで決めちゃおう！</p>
      </template>
      <b-button v-if="isAuthenticated" variant="accent" :to="`/user/${user.userId}`">マイページへ</b-button>
      <b-button v-else variant="accent" @click="login">Twitterで登録/ログイン</b-button>
    </b-jumbotron>
    <b-container>
      <b-row>
        <b-col>
          <div class="warning">
            <span class="title">α版使用上の注意</span>
            <p>
              このサイトは絶賛開発中です。
              そのため動作の不安定な箇所があったり、開発の都合で登録していただいたデータが削除されてしまう場合があります。
            </p>
        </div>
        </b-col>
      </b-row> 
    </b-container>
  </div>
</template>

<script>
import { firebase, auth } from '~/plugins/firebase'

export default {
  async fetch ({ store }) {
    await store.dispatch('auth/loginCheck')
  },
  computed: {
    isAuthenticated () { return this.$store.getters['auth/isAuthenticated'] },
    user () { return this.$store.getters['auth/user'] },
  },
  methods: {
    login () {
      auth.signInWithRedirect(new firebase.auth.TwitterAuthProvider())
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';

.warning {
    position: relative;
    padding: 25px 10px 7px;
    border: solid 2px $main;
    background-color: white;

    .title {
    position: absolute;
    display: inline-block;
    top: -2px;
    left: -2px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-size: 17px;
    background: #FFC107;
    color: #ffffff;
    font-weight: bold;
  }

  p {
      margin: 0; 
      padding: 0;
  }
}
</style>

